doctype html
html(lang="en")
    head
        title issue-tracker
        //-  Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        //-  Bootstrap CSS
        link(rel='stylesheet' type="text/css" href='/vendors/bootstrap.min.css')
        link(rel='stylesheet' type="text/css" href='/vendors/bootstrap-social.css')
        //-  Fontawesome
        link(rel='stylesheet' type="text/css" href='/vendors/fontawesome-free-5.13.0-web/css/all.min.css')
        //-  favicon
        link(rel='icon' type='image/x-icon' href='/assets/favicon.ico')
        //-  css
        link(rel='stylesheet' type="text/css" href='/stylesheets/landing.css')
        link(rel='stylesheet' type="text/css" href='/stylesheets/auth.css')
    body
        div(class='body-wrapper')
            img(class="full-bg-img" src="/assets/bg-masthead.jpg", alt="bg-image")
            //- Navigation
            nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarToggler' aria-controls='navbarToggler' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                a.navbar-brand(href='/')
                    img(src='/assets/web-logo-landing.png' alt='Web logo' width='150' height='150')
                #navbarToggler.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.mt-2.mt-lg-0
                        li.nav-item.dropdown
                            a#navbarDropdown2.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                i.fa.fa-user-circle(aria-hidden='true').fa-lg
                            .dropdown-menu(aria-labelledby='navbarDropdown2').dropdown-menu-right
                                if !isLoggedin
                                    a.dropdown-item(href='/auth/server/signin') Sign-in
                                    a.dropdown-item(href='/auth/server/signup') Sign-up
                                if isLoggedin
                                    a.dropdown-item(href='/auth/server/signout') Sign-out
            
            block content

            //- footer
            div(class='my-3 pt-5 bg-transparent')
                div(class='footer')
                    | Copyright &copy; !{ div= year } Issue-Tracker, All right reserved
        
        //-  JavaScript
        script(src='/vendors/jquery-3.3.1.slim.min.js')
        script(src='/vendors/popper.min.js')
        script(src='/vendors/bootstrap.min.js')
        script(src='/vendors/fontawesome-free-5.13.0-web/js/all.min.js')
        script(src='/javascripts/javascripts.js')
