extends layout.pug 

block content
    //-  Sign up
    div(class='container-sm pt-3 pb-5 mr-5 ml-5')
        if error
            h4.d-flex.justify-content-center.alert.alert-secondary.font-weight-bold.text-danger !{error}
        div(class='d-flex justify-content-center')
            div(class='card')
                div(class='lead')
                    h3(class='text-center text-dark') Sign up
                div(class='card-body')
                    form(name='signinForm' action='/auth/server/signup/query' method='POST')
                        div(class='input-group form-group')
                            div(class='input-group-prepend')
                            span(class='input-group-text')
                                i.fa.fa-id-card(aria-hidden='true')
                            input(type='text' class='form-control' name='userName' placeholder='Enter your name' required='')
                        div(class='input-group form-group')
                            div(class='input-group-prepend')
                            span(class='input-group-text')
                                i(class='fas fa-user')
                            input(type='email' class='form-control' name='userEmail' placeholder='Enter your email' required='')
                        div(class='input-group form-group')
                            div(class='input-group-prepend')
                            span(class='input-group-text')
                                i(class='fas fa-key')
                            input(type='password' class='form-control' name='userPassword' placeholder='Enter your password' required='')
                        div(class='input-group form-group')
                            button(type='submit' name="submit" class='auth-button') Sign-up &#8594;

                    p(class='cross-middle-line-text') or
                    div(class='text-center mb-3')
                        a(class='google-auth-button' href='/auth/server/auth/google' role='button')
                            img(class='google-auth-img' alt='google-auth-img' src='/assets/Google__G__Logo.svg.webp')
                            div(class='ml-2') Sign-up with Google
                    p(class='cross-middle-line-text') already have an account?
                    div(class='text-center')
                        a(href='/auth/server/signin') Sign-in