extends layout.pug 

block content
    //- Sign in
    div(class='container-sm pt-3 pb-5 mr-5 ml-5')
        div(class='d-flex justify-content-center')
            div(class='card')
                div(class='')
                    h3(class='text-center') Sign In
                div(class='card-body')
                    form(name='signinForm' onsubmit='')
                        div(class='input-group form-group')
                            div(class='input-group-prepend')
                            span(class='input-group-text')
                                i(class='fas fa-user')
                            input(type='email' class='form-control' name='userEmail' placeholder='Enter your email' required='')
                        div(class='input-group form-group')
                            div(class='input-group-prepend')
                            span(class='input-group-text')
                                i(class='fas fa-key')
                            input(type='password' class='form-control' name='userPass' placeholder='Enter your password' required='')
                        div(class='input-group form-group')
                            button(type='submit' name="submit" class='auth-button') Sign-in &#8594;

                    p(class='cross-middle-line-text') or
                    div(class='text-center mb-3')
                        a(class='google-auth-button' href='/auth/server/login/google' role='button')
                            img(class='google-auth-img' alt='google-auth-img' src='/assets/Google__G__Logo.svg.webp')
                            div(class='ml-2') Sign-in with Google
                    p(class='cross-middle-line-text') not have an account yet?
                    div(class='text-center')
                        a(href='/auth/server/signup') Sign-up