html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, 'Times New Roman', Times, serif, sans-serif;
}

.body-wrapper {
    min-height: 100%;
    position: relative;
}

.full-bg-img {
    position: fixed;
    top: 0;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    width: 100%;
    height: 100%;
    z-index: -1;
}

ul.navbar-nav.ml-auto.mt-2.mt-lg-0 li a, ul.navbar-nav li.nav-item a.nav-link {
    color: rgb(155, 155, 155);
}

.intro-section {
    padding-bottom: 70px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(155, 155, 155);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.cross-middle-line-text {
    position: relative;
    font-size: 1rem;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: #5b6987;
}
.cross-middle-line-text:before, .cross-middle-line-text:after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #5b6987;
}
.cross-middle-line-text:before {
    margin-left: -50%;
    text-align: right;
}

.big-heading-text {
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to bottom, #37474F, #CFD8DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 850px) {
    .big-heading-text {
        font-size: 3rem;
    }
}
@media (min-width: 851px) {
    .big-heading-text {
        font-size: 8rem;
    }
}

.describe-app-text {
    font-weight: 600;
    text-align: center;
    background: linear-gradient(to bottom, #455A64, #37474F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 850px) {
    .describe-app-text {
        font-size: 1.7rem;
    }
}
@media (min-width: 851px) {
    .describe-app-text {
        font-size: 4rem;
    }
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    background-color: rgb(0, 153, 220);
}
.start-button:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 153, 255);
    outline: none;
}
@media (max-width: 850px) {
    .start-button {
        font-size: 1rem;
        min-height: 50px;
        min-width: 150px;
    }
}
@media (min-width: 851px) {
    .start-button {
        font-size: 1.5rem;
        min-height: 70px;
        min-width: 200px;
    }
}

.dropdown-toggle::after {
    transition: transform 0.25s linear; 
}
.show.dropdown .dropdown-toggle::after {
    transform: translateY(4px);
}
.dropdown-menu {
    margin-top: 0;
}

#to-top-button {
    position: fixed;
    opacity: 0.75;
    margin: 0px;
    padding: 8px;
    z-index: 10;
    bottom: 50px;
    right: -50px;
    border: 1px solid #4473d8;
    border-radius: 1.5rem;
    color: #4473d8;
    background-color: transparent;
    outline: none;
}