.verify-button {
    border-radius: 0.3rem;
    border-width: 0px;
    width: 100%;
    padding: 0px;
    min-height: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #15cd72;
    margin-top: 20px;
}
.verify-button:hover {
    background-color: #44d88e;
}

.g-recaptcha {
    opacity: 0.85;
}