.verify-button {
    border-radius: 0.3rem;
    border-width: 0px;
    width: 100%;
    padding: 0px;
    min-height: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #15cd72;
    margin-top: 20px;
}
.verify-button:hover {
    background-color: #44d88e;
}

.g-recaptcha {
    opacity: 0.85;
}

.verify-heading-text {
    /* color: rgb(65, 65, 32); */
    color: #721c24;
    text-align: center;
}
@media (max-width: 750px) {
    .verify-heading-text {
        font-size: 1.5rem;
    }
}
@media (min-width: 751px) {
    .verify-heading-text {
        font-size: 2.2rem;
    }
}

.verify-detail-text {
    /* color: rgb(65, 65, 32); */
    color: #721c24;
    text-align: center;
}
@media (max-width: 750px) {
    .verify-detail-text {
        font-size: 1.1rem;
    }
}
@media (min-width: 751px) {
    .verify-detail-text {
        font-size: 1.5rem;
    }
}
