extends layout.pug

block content
    .container-fluid(class='d-flex flex-column justify-content-center align-items-center text-center mb-5')
        h1(class='my-3 font-weight-bold') Last 7 Days Projects and Issues Chart
        
        #loadingMessage
        canvas#myChart(class='bg-transparent')