extends layout.pug
    
block content
    //- Intro
    div(class='container-fluid pt-3 intro-section')
        div(class='d-flex flex-column justify-content-center')
            h1(class='big-heading-text') Issue Tracker
            p(class='describe-app-text') use to track todos, bugs, and features for developers
        div(class='d-flex flex-row justify-content-center mt-4')
            a(class='start-button' name='landing-start-button' href=`${isLoggedin ? '/home' : '/auth/server/signup'}`) START NOW