doctype html
html(lang="en")
    head
        title issue-tracker
        //-  Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        //-  favicon
        link(rel='icon' type='image/x-icon' href='/assets/favicon.ico')
        //-  Bootstrap CSS
        link(rel='stylesheet' type="text/css" href='/vendors/bootstrap.min.css')
        link(rel='stylesheet' type="text/css" href='/vendors/fontawesome-free-5.13.0-web/css/all.min.css')
        //-  css
        link(rel='stylesheet' type="text/css" href='/stylesheets/landing.css')
        link(rel='stylesheet' type="text/css" href='/stylesheets/home.css')
        link(rel='stylesheet' type="text/css" href='/stylesheets/issue.css')
        link(rel='stylesheet' type="text/css" href='/stylesheets/verifyIsHuman.css')
    body
        block content
        
        //-  JavaScript: jQuery first, then Popper.js, then Bootstrap JS
        script(src='/vendors/jquery-3.3.1.slim.min.js')
        script(src='/vendors/popper.min.js')
        script(src='/vendors/bootstrap.min.js')
        script(src='/vendors/fontawesome-free-5.13.0-web/js/all.min.js')
        script(src='https://www.google.com/recaptcha/api.js')
        script(src='/javascripts/javascripts.js')
         

