extends layout.pug
    
block content
    //- Intro
    div(class='container-fluid pt-3')
        div(class='d-flex flex-column justify-content-center align-items-center')
            div(class='w-100')
                h1(class='verify-heading-text my-3') 
                    | To 
                    u protect 
                    | this site from 
                    u fraud and abuse!
                h4(class='verify-detail-text') please complete the security check to access to this site
            form#comment_form(action='/security/server/verify-is-human' method='post' class='mt-3')
                .g-recaptcha(name='recaptcha' id='grecaptcha' data-sitekey='6LeZ1UQaAAAAAEIEtTi9fm2h-8LiEqxQNjuD20sc')
                button(class='verify-button' type='submit' name='verify-is-human-button') Verify
