.full-bg-img {
    position: fixed;
    top: 0;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    width: 100%;
    height: 100%;
    z-index: -1;
}

ul.navbar-nav.ml-auto.mt-2.mt-lg-0 li a {
    color: rgb(155, 155, 155);
}

.cross-middle-line-text {
    position: relative;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.cross-middle-line-text:before, .cross-middle-line-text:after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: gray;
}
.cross-middle-line-text:before {
    margin-left: -50%;
    text-align: right;
}

.big-heading-text {
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to bottom, rgb(65, 65, 32),  rgb(228, 228, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 850px) {
    .big-heading-text {
        font-size: 2.5rem;
    }
}
@media (min-width: 851px) {
    .big-heading-text {
        font-size: 8rem;
    }
}

.describe-app-text {
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to top, rgb(65, 65, 32),  rgb(228, 228, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 850px) {
    .describe-app-text {
        font-size: 1rem;
    }
}
@media (min-width: 851px) {
    .describe-app-text {
        font-size: 2.3rem;
    }
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    background-color: rgb(0, 153, 255);
}
@media (max-width: 850px) {
    .start-button {
        font-size: 0.8rem;
        min-height: 30px;
        min-width: 150px;
    }
}
@media (min-width: 851px) {
    .start-button {
        font-size: 1.5rem;
        min-height: 50px;
        min-width: 200px;
    }
}

